*{
    margin: 0px;
    padding: 0px;
    font-family: "Be Vietnam Pro" ,sans-serif;

}

body{
    /* background-color: beige; */
    background-color: whitesmoke;
    font-family: Be Vietnam Pro                             ;

}

/* -------------------------------------------header section---------------------------------------------- */


.ham{
    display:none;
    margin-top: 18px;
    margin-right: 25px;
}

.hide {
    display:none;
}

.mob h1{
    text-align: center;
    margin-bottom: 30px;
    color: #FF9500;
}


.mob {
    /* outline:1px solid red; */
    /* display: flex; */
    right: 0;
    top:0;
    bottom: 0;
    position: absolute;
    background-color: white;
    width: 60%;
}
.mob ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    /* padding: 0px 100px; */
    list-style-type: none;

}

.mob ul li a{
    text-decoration: none;
}

.mob a{
    padding: 10px 15px;
    /* border: 2px solid red; */
    display: inline-block;
}

@media (max-width:768px) {
    
    .ham{
        display:block;
    }

   
}



.nav-1{
    background-color: #FF9500;
    padding-block:5px;
    margin:15px;
    max-width: 97%;
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.home-tag{
    padding: 10px;
    background-color: #f1f1f3;
    border-radius: 8px;
    color: black;
}

.main-navbar a{
    color: black;
}

.main-navbar img{
    /* width: 10%; */
    width: 60px;
}

.main-navbar{
    display: flex;
    max-width: 600px;
    gap: 20px;
    align-items: center;
    /* margin-right: 5%; */
}

.navbar{
    max-width: 92%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-navbar a{
    text-decoration: none;
}

.button{
    display: flex;
    align-items: center;
   
}

.button a{
    text-decoration: none;
    color: black;
}

#sign-in{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button a:hover{
    background-color: #FF9500;
    color: #FFFFFF;
}

/* ---------------------------------------------hero--------------------------------------  */

.hero2{
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    max-width: 85%;
    margin-top: 40px;
    padding-bottom: 20px;
    align-items: center;
}

.hero2 p{
    max-width: 550px;
}

/* -----------cont img-----------------  */

.cont-img{
    max-width: 85%;
    margin-inline: auto;
    margin-top: 50px;
}

.cont-img img{
    /* margin-inline: auto; */
    width: 100%;
}


/* coursecards */

.main-cont-card{
    max-width: 85%;
    margin-inline: auto;
}

.main-subcont-card{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.firstcard{
    /* border: 1px solid red; */
    width: 45%;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.firstcard h1{
    text-align: end;
    margin-bottom: 30px;
}

.itemscontaner{
    margin-top: 25px;
}

.feature-item-01{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #F1F1F3 ;
    margin: 10px 0px 10px 0px ;
    line-height: 25px;
    align-items: center;
    border-radius: 8px;
}

.feature-item-02{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #F1F1F3 ;
    margin: 10px 0px 10px 0px ;
    line-height: 25px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFD599;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; */
    box-shadow: 0 4px 8px 0 #FFEACC;
}

.buttomitem1{
    display: flex;
    gap: 5px;
    /* background-color: #F7F7F8; */
    /* background: #FFEACC; */
    padding: 8px;
    border-radius: 8px;
}

.bt{
    background: #FFEACC;

}

.buttomitem1 img{
    width: 20px;
    /* height: auto; */
}

.role{
    width: 300px;
}

.items1 p{
    opacity: 0.7;
}

  /* -----------------------------------footer------------------------ */

  .footer-contener{
    background-color: #FFFFFF;
    padding: 50px 0px 15px 0px;
    margin-top: 50px;
}

.main-fotter{
    max-width: 85%;
    margin-inline: auto;
    background-color: #FFFFFF;
}

.main-fotter-1{
    display: flex;
    justify-content: space-between;
}

.main-fotter-logo{
    margin-bottom: 15px;
}

.main-fotter-logo img{
    width: 45px;
}

.button-container{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    line-height: 35px;
}

.button-container img{
    width: 20px;
}

.button-container p{
    line-height: 40px;
}

.home p{
    line-height: 25px;
    opacity: 0.9;
}

.fotter-heading{
    margin-bottom: 15px;
}

.sub-container{
    display: flex;
    gap: 15px;
}

.home{
    width: 180px;
}

.social-logo-button{
    display: flex;
    gap: 10px;
}

.social-logo-img{
    padding: 8px;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
}

.social-logo-img img{
    width: 30px;
}

.sub-container{
    display: flex;
    gap: 15px;
}

.copy-right{
    text-align: center;
    padding-top: 20px;
}

.main-home-container{
    display: flex;
    padding-block: 20px;
}