*{
    margin: 0px;
    padding: 0px;
    font-family: "Be Vietnam Pro" ,sans-serif;
    /* outline: 1px solid red; */
}

body{
    background-color: whitesmoke;
}


.ham{
    display:none;
    margin-top: 18px;
    margin-right: 25px;
}

.hide {
    display:none;
}

.mob h1{
    text-align: center;
    margin-bottom: 30px;
    color: #FF9500;
}


.mob {
    /* outline:1px solid red; */
    /* display: flex; */
    right: 0;
    top:0;
    bottom: 0;
    position: absolute;
    background-color: white;
    width: 60%;
}
.mob ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    /* padding: 0px 100px; */
    list-style-type: none;

}

.mob ul li a{
    text-decoration: none;
}

.mob a{
    padding: 10px 15px;
    /* border: 2px solid red; */
    display: inline-block;
}

@media (max-width:768px) {
    
    .ham{
        display:block;
    }

   
}




.nav-1{
    background-color: #FF9500;
    padding-block:5px;
    margin:15px;
    max-width: 97%;
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

.home-tag{
    padding: 10px;
    background-color: #f1f1f3;
    border-radius: 8px;
    color: black;
}

.main-navbar a{
    color: black;
}

.main-navbar img{
    /* width: 10%; */
    width: 60px;
}

.main-navbar{
    display: flex;
    max-width: 600px;
    gap: 20px;
    align-items: center;
    /* margin-right: 5%; */
}

.navbar{
    max-width: 92%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-navbar a{
    text-decoration: none;
}

.button{
    display: flex;
    align-items: center;
   
}

.button a{
    text-decoration: none;
    color: black;
}

#sign-in{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.button a:hover{
    background-color: #FF9500;
    color: #FFFFFF;
}

/* -------------------------card 2-----------------------------  */

.login-here{
    max-width: 85%;
    margin-inline: auto;
    /* display: flex; */

}

.login-contener{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.para-contenat{
    max-width: 55%;
    line-height: 20px;
}

.para-contenat h2{
    margin-bottom: 10px;
}

.intro-card-1{
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;

}

.intro-para p{
    padding: 20px 25px;

}

.img-person{
    /* display: flex;
    align-items: center;
    padding: 20px; */
    display: flex;
    align-items: center;
    gap: 10px;

}

.img-person img{
    max-width: 50px;
}

.intro-img{
    display: flex;
    padding: 20px 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFD;
    /* background-color: #FCFCFD; */

    border-top: 1px solid #f1f1f8;

    border-radius: 8px;

    
}

.intro-button button{
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}

.arrow-img{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    gap: 10px;
}

/* -----------------login card----------- */


.log{
    width: 35%;
    border-radius: 8px;
    padding: 20px;
    background-color: #FFFFFF;
}

.login-card{
    line-height: 30px;
}

.login-card h2{
    text-align: center;
}

.log-2 {
    text-align: center;
}


.email1 input{
    padding: 10px 5px;
    /* display: block; */
    border-radius: 6px;
    background-color: #FCFCFD;
    border: 1px solid #f1f1f3;
    width: 100%;
}

.login-from{
    padding-block: 20px;
}

.email1{
    margin-bottom: 20px;
    /* border: 1px solid #f1f1f3; */
}

#pass{
    /* text-align: end; */
    display: flex;
    justify-content: right;
    /* border: 10px solid red; */
    text-decoration: none;
    color: black;
}

.Check-box{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}

.price-button{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #FF9500;
    /* border-radius: 0px 0px 10px 10px; */
}

.price-button button{
    border: none;
    color: #FFFFFF;
    background-color: #FF9500;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}

.google-button{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #F7F7F8;
}

.google-button button{
    border: none;
    color: black;
    background-color: #F7F7F8;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}

.border-line{
    padding-block: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-line *{
    position: absolute;
}

.border-line hr{
    border: 1px solid #E4E4E7;
    width: 100%;
}

.border-line p{
    font-size: 12px;
    background: #FFFFFF;
    color: rgb(184,183,183);
    padding-inline: 5px;
}

.javed-button{
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    /* background-color: #FF9500; */
}

.javed-button button{
    border: none;
    /* color: #FFFFFF; */
    /* background-color: #FF9500; */
    font-size: 20px;
    border-radius: 10px 10px 10px 10px;
}


.for-signup{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.for-signup a{
 /* text-decoration: none; */
 color: black;
}

/* -----------------stage-3 Footer-Section----------- */

.footer-contener{
    background-color: #FFFFFF;
    padding: 50px 0px 15px 0px;
    margin-top: 50px;
}

.main-fotter{
    max-width: 85%;
    margin-inline: auto;
    background-color: #FFFFFF;
}

.main-fotter-1{
    display: flex;
    justify-content: space-between;
}

.main-fotter-logo{
    margin-bottom: 15px;
}

.main-fotter-logo img{
    width: 45px;
}

.button-container{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: none;
    line-height: 35px;
}

.button-container img{
    width: 20px;
}

.button-container p{
    line-height: 40px;
}

.home p{
    line-height: 25px;
    opacity: 0.9;
}

.fotter-heading{
    margin-bottom: 15px;
}

.sub-container{
    display: flex;
    gap: 15px;
}

.home{
    width: 180px;
}

.social-logo-button{
    display: flex;
    gap: 10px;
}

.social-logo-img{
    padding: 8px;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 8px;
}

.social-logo-img img{
    width: 30px;
}

.sub-container{
    display: flex;
    gap: 15px;
}

.copy-right{
    text-align: center;
    padding-top: 20px;
}

.main-home-container{
    display: flex;
    padding-block: 20px;
}