@media (max-width : 768px) {

/*------------------------- Stage-1 -----------------*/

    .main-navbar{
        /* display: none; */
        padding-inline: 20px;
    }

    .main-navbar a{
        display: none;
    }

    .nav-1 p{
        font-size: 14px;
    }

    .button{
        padding-right: 0;
    }

/*------------------------- Stage-2 -----------------*/

    .inner-cont-text{
        display: block;
    }

    .text-paragraph{
        width: 90%;
        padding-block: 20px;
    }

    /* .text-paragraph p{
        font-size: 12px;
        width: 100%;
    } */

    .text-heading{
        width: 100%;
        padding-block: 0px!important;
        padding-top: 60px!important;
    }

    #line{
        width: 100%;
    }

/*------------------------- Stage-3 -----------------*/

.card-container{
    display: block;
}

.card{
    width: 100%;
    margin-bottom: 20px;
}

/*------------------------- Stage-4 -----------------*/

.last-card{
    display: block;
    background-position: 130% 145%;
    background-size: 200px
}

.last-card h1{
    font-size: 20px;
}

.last-card p{
    font-size: 12px;
    padding-block: 10px;
}

.last-card button{
    margin-top: 10px;
}



/*------------------------- Stage-5 -----------------*/

    .main-fotter-1, .sub-container{
        display: block;
    }

    .footer-contener{
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .social-logo-img{
        margin-bottom: 20px;
    }
}